<div class="flex items-center gap-4 min-w-fit">
    <button id="mobile-filter-btn" class="lg:hidden p-2 text-gray-600 hover:bg-gray-100 rounded-lg">
        <i class="ph ph-list text-2xl"></i>
    </button>
    <div class="flex items-center gap-2 cursor-pointer" onclick="window.location.reload()">
        <div class="bg-linear-to-br from-brand-500 to-brand-600 text-white p-2 rounded-lg shadow-lg shadow-brand-500/20">
            <i class="ph-bold ph-hammer text-2xl"></i>
        </div>
        <span class="text-2xl font-bold tracking-tight text-gray-900 hidden sm:block">Construtora<span class="text-brand-500">Pro</span></span>
    </div>
</div>